*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* classi riutilizzabili*/

.clearfix::after{
    content: "";
    clear: both;
    display: table;
} 

.float{
    float: left ;
}

.btn{
    height: 40px;
    width: 85px;
    background-color: white;
    border-radius: 50px;
    display: inline-block;
    margin: 20px 0px;
    text-align: center;
    line-height: 40px;
}

.black-btn{
    height: 40px;
    width: 250px;
    background-color: black;
    border-radius: 50px;
    display: inline-block;
    margin: 20px 0px;
    text-align: center;
    line-height: 40px;
}

.large-btn{
    height: 40px;
    width: 185px;
    background-color: white;
    border-radius: 50px;
    display: inline-block;
    margin: 20px 0px;
    text-align: center;
    line-height: 40px;
}

/* fine classi riutilizzabili*/

/* hoover */

.btn:hover {
    text-decoration: underline;
}

.black-btn:hover {
    text-decoration: underline;
}

/* classi top-header*/

.container{
    margin: 0 auto;
    background-color: rgb(49, 97, 224);
}

.top-header{
    line-height: 80px;
    margin:auto 150px;
}

.top-header .logo img{
    vertical-align: middle;
}

.top-header nav{
    vertical-align: middle;
    display: inline-block;
    margin: auto 120px;
}

.top-header li{
    display: inline-block;
}

.top-header li a{
    color: white;
    margin: 0 30px;
    text-decoration: none;
}

.top-header a{
    color: black;
    text-decoration: none;
}

/* fine classi top-header*/
  
/* inizio classi bottom-header */

.bottom-header{
    background-image: url(img/jumbo.png);
    height: 600px;
    background-size: cover;
    position: relative;
}

.bottom-header h1{
    color: white;
    font-size: 50px;
    margin-bottom: 30px;
}

.bottom-header p{
    color: white;
    font-size: 18px;
    line-height: 30px;
}

.bottom-header .large-btn{
    color: black;
    text-decoration: none;
}

.bottom-header .black-btn{
    color: white;
    text-decoration: none;
}

.content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* fine classi bottom-header */

/* classi prima-terza sezione  */

.sec2{
    position: relative;
    height: 600px;
    width: 100%;
    background-color: lightgray;
}

.section{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.section .image{
    width: 50%;
    margin-right: 30px;
}

.section .image img{
    width: 550px;
    margin-left: 30%;
    
}

.section .description{
    width: 18%;
    margin-left: 100px;
}

.section .description h2{
    font-size: 35px;
    padding-top: 30px;

}

.section .description p{
    font-size: medium;
    margin-top: 20px;
    line-height: 20px;
}

/* fine  classi prima-terza sezione */

/* classi seconda sezione */

.sec{
    position: relative;
    height: 600px;
    width: 100%;
}

.section2{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.section2 .image{
    width: 50%;
}

.section2 .image2 img{
    width: 550px;
    margin-left: 100px;
}

.section2 .description2{
    width: 18%;
    margin-left: 20%;
}

.section2 .description2 h2{
    font-size: 35px;
    padding-top: 30px;

}

.section2 .description2 p{
    font-size: medium;
    margin-top: 20px;
    line-height: 20px;
}

/* inizio quarta sezione */

.sec4{
    height: 900px;
    background-color: lightgray;
    position: relative;
    text-align: center;
}

.sec4 .text h2{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 35px;
}

.sec4 .text p{
    font-size: medium;
    line-height: 25px;
}

.sec4 .set{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.stars{
    height: 60px;
    background-image: url(img/stars.svg);
    background-size: contain;   
}

#evidence{
    font-size: 20px;
}

.character{
    color: white;
    background-color:  rgb(141, 119, 238);
    text-decoration: none;
}

/* fine quarta sezione */

/* inizio classi footer */

footer{
    width: 100%;
    background-color: rgb(41, 41, 41);
}

#inline{
    display: inline-block;
}

.column h4{
    font-size: 18px;
    color: rgb(141, 119, 238);
}

.column img{
    width: 20px;
}

.white{
    color: white;
}

.violet{
    color: rgb(141, 119, 238);
}

span{
    display: block;
}

.column{
    margin: 80px;
    line-height: 25px;
}

/* fine classi footer */